 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 478px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/estrelamanha_small.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 464px;
  width: 1001px;
  height: auto;
  margin: -66px 56px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 46px 60px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 4px 606px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 606px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 128px;
  min-width: 80px;
  margin: 34px auto 0 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-form-1 {
  height: 306px;
  margin: -335px 0 0 394px;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 100%;
  background-image: none;
  padding: 14px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 477px;
    width: 882px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 487px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 487px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 498px;
    width: 642px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-right: 267px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-right: 337px;
  }

  .u-section-2 .u-form-1 {
    height: 308px;
    margin-top: -265px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 714px;
    width: 456px;
    margin-right: 38px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 21px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 39px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 33px;
  }

  .u-section-2 .u-form-1 {
    width: 394px;
    margin-top: 25px;
    margin-right: 9px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-2 .u-group-1 {
    min-height: 823px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 5px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}