 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1384px;
}

.u-section-1 .u-text-1 {
  margin: 28px 0 0;
}

.u-section-1 .u-group-1 {
  width: 775px;
  min-height: 250px;
  height: auto;
  margin: 29px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-3 {
  width: 345px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 775px;
  min-height: 316px;
  height: auto;
  margin: 40px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 17px 1px 0 5px;
}

.u-section-1 .u-text-5 {
  margin: 27px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 17px 213px 0 217px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 1px 0 5px;
}

.u-section-1 .u-text-8 {
  margin: 22px 213px 0 217px;
}

.u-section-1 .u-group-3 {
  width: 775px;
  min-height: 245px;
  height: auto;
  margin: 40px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 17px 1px 0 5px;
}

.u-section-1 .u-text-10 {
  margin: 27px 76px 0 217px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 775px;
  min-height: 290px;
  height: auto;
  margin: 40px auto 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: 17px 1px 0 5px;
}

.u-section-1 .u-text-12 {
  margin: 27px 76px 0 217px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    width: 345px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    width: 345px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-12 {
    width: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 190px;
    margin-right: 186px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 186px;
    margin-left: 190px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 190px;
    margin-right: 49px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 190px;
    margin-right: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 100px;
    margin-right: 96px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 96px;
    margin-left: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 59px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 59px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 513px;
}

.u-section-2 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 42px auto 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 288px;
  width: 1001px;
  height: auto;
  margin: -111px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 46px 0 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 4px 606px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: -56px 112px 0 468px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -25px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 128px;
  min-width: 80px;
  margin: -34px 299px 0 auto;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 29px auto 44px;
  padding: 16px 40px 17px 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 453px;
    width: 810px;
    margin-top: -105px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 415px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 415px;
    margin-left: 437px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -2054px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 2184px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 410px;
    width: 642px;
    margin-top: -82px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-right: 267px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -72px;
    margin-right: 337px;
    margin-left: 345px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
    margin-top: -1809px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 1955px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 714px;
    width: 456px;
    margin-right: 38px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 21px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -56px;
    margin-right: 39px;
    margin-left: 205px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -214px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 823px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -86px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 31px;
  }
}